.container {
  width: 100%;
  max-width: var(--grid-max);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}

.fullBleed {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.narrow {
  max-width: 960px;
}
